@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap') ;

.main-container {
  align-items: center;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

.timer {
  align-items: center;
  background-color: rgb(182, 0, 36);
  border-radius: 3px;
  color: whitesmoke;
  display: flex;
  font-family: Bebas Neue , cursive;
  justify-content: space-around;
  min-width: 150px;
  padding: 5px;
}
