body {
  font-family: (
    -apple-system , BlinkMacSystemFont , Fira Sans , Droid Sans , sans-serif
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier , monospace;
}
